<header class="main-header">
  <div class="container">
      <a href="/" class="logo-link">
        <img src="/images/mosaik-noblank.png" alt="" class="mosaik-logo1">
      </a>
        <a href="/" class="logo-link">
          <img src="/images/logo-escrito-noblank.png" class="mosaik-logo2" alt="">
        </a>  
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li>
          <a href="#"> <i class="fas fa-user"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
