<header>
    <div class="header-content">

        <div class="logo">
           <a href="/" class="logo-link">
            <img src="/images/mosaik-noblank.png" alt="" class="mosaik-logo1"></a>
            <a href="/" class="logo-link"><img src="/images/logo-escrito-noblank.png" class="mosaik-logo2" alt=""></a>
        </div>
        
    
        <div class="menu" id="show-menu">
            <nav>
                <ul class="menu-container">
                    <li class="menu-selected"><i class="fas fa-user"></i></li>
                    <a href="#"><li><i class="fas fa-shopping-cart"></i></li></a>
                </ul>
            </nav>
        </div>    

        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>
</header>  