
  <div class="container">
    <h1 class="mh-logo">
      <img src="https://flexbox.ninja/assets/images/logo-flexbox-ninja.png" srcset="https://flexbox.ninja/assets/images/logo-flexbox-ninja.svg 1x, https://flexbox.ninja/assets/images/logo-flexbox-ninja.svg 2x" width="119" height="50" alt="Flexbox Demo">
    </h1>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About us</a>
        </li>
        <li>
          <a href="#">Our clients</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
