<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mosaikos Market</title>
<<<<<<< HEAD
<link rel="stylesheet" href="/public/styles.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" >
<link rel="stylesheet" href="css/styles-login-register.css">
=======
<link rel="stylesheet" href="public/css/styles.css" />
<meta name="viewport" content="initial-scale=1; width=device-width">
<link href="https://http2.mlstatic.com/frontend-assets/homes-palpatine/home.desktop.0596388a.css" rel="stylesheet" type="text/css"/>
>>>>>>> f2bc4e36301eedc6a600f6667bcf0df695a6e8c0
