<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Bienvenidos a Mosaikos!</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li>
        <div class="login-icon">
          <a href="/login.ejs"><i class="fas fa-user"></i></a>
        </div>
      </li>
    </ul>
  </nav>