<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>

    <main>
        <!-- INICIO DEL CONTENIDO DE CADA PAGINA -->
        <h1>
            INICIO DEL MAIN
            </h1>
            <p>
            CHICOS: ACA tienen que poner el Contenido 
            </p>
            <!-- FIN DEL CONTENIDO DE CADA PAGINA -->
    </main>

    <%- include('./partials/footer'); %>
</body>
</html>