* {
    box-sizing: border-box;
}
::-moz-selection {
    background: #F34A4E;
    color: #FFF;
}
::selection {
    background: #F34A4E;
    color: #FFF;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
    background: white;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.main-header {
    background: #FFF;
    box-shadow: 0 1px 6px rgba(0,0,0,.1);
}
.mh-logo {
    margin: 0 0 -10px;
}

.container .form_search{
    display: flex;
    border: none;
    outline: none;
    color: #666666;
    padding: 8px;
}

.container .lupa {
    background-color: #FFFFFF;
    border: none;
    padding: 8px;
    width: 10%;
}

.busqueda{
    border-radius: 5px;
    border-color: grey;
    padding: 2px;
}

.container .input{
    box-shadow: 0px 0px 2px #666666;
}

.main-nav a {
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #343534;
    text-decoration: none;
}
.main-nav ul {
    margin: 0;
    padding: 0;
}

.fa-shopping-cart{
    font-size: 15px;
}

.fa-user{
    font-size: 30px;
}

.center {
    margin-top: 4em;
    text-align: center;
}
.center a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #F34A4E;
    border-bottom: 1px solid #F34A4E;
    transition: all .275s;
}
.center a:hover,
.center a:focus {
    opacity: 0.8;
    padding-bottom: 2px;
    border-bottom-color: rgba(243, 74, 95, .5);
}

/**
 * Flex & layout things:
 * — Mobile first
 * — Responsive
 */
img {
    max-width: 100%;
    height: auto;
}
.container {
    width: 960px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}
.logo{
    height: 80px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    
}

.mosaik-logo1{
    
    height: 80px;
    width: 100px;
}

.mosaik-logo2{
    display: none;
}
.main-header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main-nav ul {
    margin: 1em 0 .5em;
    text-align: center;
}
.main-nav li {
    display: inline;
}
.main-nav a {
    display: inline-block;
    padding: .5em 1.5em;
}

/* Dropdown Button */
.dropbtn {
    border: none;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #343534;
    text-decoration: none;
    background-color: white;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  


@media screen and (min-width:481px){

    .mosaik-logo2{
        display: flex;
        height: 60px;
        width: auto;
    }

    main{
        padding: 20px;
        
    }
    
    .contenedor-formularios{
        width: 481px;
    }
}

/*ESTILOS MAIN*/

main{
    padding: 20px 5px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}


/*FORMULARIO*/

.contenedor-formularios{
    display: flex;
    justify-content: center;
    width: 100%;
   
}

.contenedor-formularios p{
    font-size: 14px;
    color: black;
}



.create-form{
    padding: 50px 15px ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    background-color: #ebebeb;
    border-top: 1px solid #ebebeb;
    
}

.create-form .titulo-form{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.create-form .titulo-form h3{
    font-size: 20px;
    color: red;
}

.create-form .titulo-form .title-bar{
    color: black;
}

.create-form .titulo-form a{
    color: black;
    text-decoration: underline;
}

.control-formulario{
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.control-formulario .label-title{
    margin-bottom: 15px;
    font-weight: bold;
    display: block;

}

.control-formulario .selector-radio{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
}


.control-formulario .elecciones{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.control-formulario .elecciones label{
    margin-bottom: 20px;
}


.control{
    width: 70%;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
}

.boton-centrado{
    text-align: center;
}

.boton-formulario{
    background-color: #FF6666;
    width: 50%;
    border: none;
    font-size: 17px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px;
    
}

.boton-registro,
.boton-borrado{
    border: none;
    font-size: 20px;
    color: white;
    padding: 7px 20px;
    border-radius: 5px;
    margin: 10px;
    text-align: right;
}

.boton-registro{
    background-color: #FF6666;    
    
}


.boton-borrado{
    background-color: #e79d12c9;
}

.boton-formulario:hover,
.boton-registro:hover{
    background-color: #ff66665e;
    cursor: pointer;
}

.boton-borrado:hover{
    background-color: #aa5b00;
    cursor: pointer;
}

.botones{
    display: flex;
    justify-content: center;
    width: 100%;
}

.no-user{
    text-align: center;
}

.no-user a{
    color: #FF6666;
    font-weight: bold;
}


@media screen and (min-width:769px){

    .menu{
        display: flex;
    }

    #icon-menu{
        display: none;
    }

    .contenedor-formularios{
        width: 100%;
    }
    .main-header .container {
        justify-content: space-around;
    }
}

/********CARRRITO DE COMPRAS ************************/

/*********************************/
  /* estilo de main  */
  .carrito-root{
        
    background-color: white;
    font-size: 14px;
    width: 90%;
    
}

/* estilo de  barra top*/
.carrito-top-bar{
    display: flex; 
    background-color: #e40606; 
    color: white;
    justify-content: space-around;
    
    align-items: center;  
      
   
}
.carrito-top-bar div{
     width: 20%;
         
}

/************************/
/* se agrega estilo  ala plantilla de muestra de productos para la compra*/
.compras-item{
    width:85%;
}

.compras-item li{
    text-decoration: none;
    list-style-type: none
}
.compras-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;    
    border-bottom: groove rgb(233, 230, 230);
    border-radius: 3%;
    
}
.compras-producto label{
    width:7%; 
}
.btn-cantidad{
    width:45px;
  
}
.compras-foto{
    width: 9%;
}
.carrito-descripcion{
    width: 15%;
  }

.btn-eliminar:hover {
    color:red;
}

.btn-eliminar{
    border: none;
    background-color:white;;
    color:black;
    cursor:pointer;
    transition: all 600ms;

}
/**************************************/

/* botones de funcionalidad de  hmtl   agregar/ vaciar /envio / comprar*/
.carrito-btn{
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
    width: 80%;
    align-items: flex-start;
    

           
}    
.btn-funcion input{
    border: none;
    margin-top: 8px;
    background-color:white;;
    color:#e40606;
    font-size: 16px;
    cursor:pointer;
    transition: all 650ms; 
           
}
.btn-funcion:hover input{
    color:  #ff66665e;
}

/* area de confirmacion de compra*/
.compras-resumen{        
    width: 30%;;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}
.compras-resumen div{    
    width: 100%;   
}
.btn-resumen{
    display: flex;
}
.resumen-valores{
    border-bottom: 1px groove grey;
}
   
.resumen-valores .btn-resumen input{
    border: none;
    margin: 0px;
    background-color:white;;
    color:#e40606;
    font-size: 15px;
    cursor:pointer;
    transition: all 650ms;

}  

.btn-comprar input{
    cursor: pointer;
    background-color:  #e40606;
    color: white;   
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-weight: bolder;
    border: none;
    margin-top: 5px;
    transition: all 600ms;  
}
.btn-comprar:hover input{
    background-color:  #ff66665e;
    color: whitesmoke;
}
.btn-resumen:hover input{
    color: #ff66665e;
}

.resumen-valores{
    display: flex;
    justify-content: space-between;
}


.carrito-publi{
    margin-top: 20px;
}
/******************************************/



 /* @medias  se tomaron como BP  480px y 769px*/
@media(max-width: 479px){
    .carrito-top-bar{
        display: flex;
        justify-content: flex-start;
    }
   .compras-foto{
       margin: 0px;
      padding: 10px;
   }
   .compras-producto{
       flex-wrap: wrap;
       padding: 5px;
       justify-content: space-around;

   }
   
   .compras-foto, .carrito-descripcion{
       width: 48%;
    }
    .resumen-valores p{
        padding: 5px 5px 5px 0px;
        font-size: 15px;
    }  
    .carrito-btn{
        display: flex;    
        margin-top: 10px;
        margin-left: 20%;
        width: 80%;
        align-content: center;    
        flex-direction: column;
        align-items: flex-start;
       
    }
    .btn-funcion{
        width:40%;     

    }
    .compras-resumen{
        width: 80%;
    }
    
    .carrito-datos-bar, .carrito-datos-bar-total {
        display: none;
    }
    

    .carrito-icon i{
        display: none;
    }
    .carrito-datos-bar-detalle{
       display: none;
        }
        .carrito-datos-bar-cantidad{
           display: none;
        }


}
 

@media(min-width:480px){
    .carrito-datos-bar p{
        display: none;
    }
    .carrito-datos-bar-total p{
        display: none;
    }

    .carrito-top-bar{
        justify-content: flex-start;
    }
    .carrito-top-bar img{
        width: 20%;
    }
    .carrito-icon i{
        display: none;
    }
    .carrito-datos-bar-detalle{
        display: none;
        }
     .carrito-datos-bar-cantidad{
           display: none;
        }
    
    .carrito-btn {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    .resumen-valores p{
        padding: 5px 5px 5px 0px;
        font-size: 15px;
    } 
    .compras-item {
        width: 80%;
        margin-left: 25px;
        margin-top: 10px;
    } 
}

@media(min-width: 769px){
   .compras-item{
     width: 80%;
    margin-left: 60px;
    margin-top: 10px;
   }
   
    .carrito-top-bar{
        width: 90%;
        margin-left: 40px;
    }
  
    .carrito-logo-top-bar{
        display:none;
    }

    .carrito-top-bar  div p, span {
        display: flex;
        
    }
    .carrito-datos-bar-detalle{
        margin-left: 25px;
        display: block;
    }
    .carrito-datos-bar-cantidad{
         margin-left: 15px;         
        display: block;
    }
    .carrito-top-bar  div p{
        justify-content: center;
        margin-left: 10px;
    }
    .carrito-datos-bar-total{
        display: flex;
    }
    .carrito-datos-bar-total p{
        align-items: flex-start;
        margin-left: 18px;
    }
    .carrito-icon  i{
        display: block;
        
    }
    .carrito-icon{
        display: flex;
        justify-content: center;
        margin-right: 20px;
    }
    .carrito-top-bar  figure{
        display: flex;
        width: 16%;
       align-items: center;
       justify-content: center;
    
    }
    .carrito-datos-bar{
       background-color: #e40606;
    }
    
}


/* ESTILOS DETALLES DE PRODUCTO INICIO */

.producto-precio-article,.producto-descuento-article, .producto-descripcion-article{
    font-size: 20px;
}
.producto-descuento-article{
    color: #39b54a;
}


/*CSS Detalle del producto*/

  /*MOBILE*/

@media (max-width: 480px) {
    .producto-banner{
        display: none;
    }
    .producto-main{
        padding: 5px 5px;
        flex-direction: column;
        background-color: white;
        flex-wrap: wrap;
        padding: 20px 5px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .producto-div-article{
        text-align: center;
    }
    .producto-div-mobile{
        background-color: #e6e6e6;
    }
    .producto-img-producto{
        width: 50%;
        padding-top: 10px;
    }
    .producto-pie-de-foto{
        width: 15%;
    }
    /* .producto-pie-de-foto2{
        width: 40%;
    } */
    .producto-descripcion-producto{
        background-color: #e6e6e6;
        padding-bottom: 10px;
    }
    .producto-marca{
        text-align: center;
        padding-top: 40px;
    }
    .producto-precio{
        font-size: 30px;
    }
    .producto-texto,.descripcion{
        display: none;
    }
    .producto-cantidad{
        display: block;
        margin: 15px;
    }
    .producto-inp-cantidad{
        border-radius: 5px;
        border: 1px solid #f2f1ed;
        color: #000;
        font-size: 12px;
        font-weight: 400;
        padding: 12px;
        width: 90px;
        background-color: #fff;
        text-align: center;
    }
    .producto-button{
        width: 71%;
        background-color: rgb(255, 102, 102);
        font-size: 17px;
        color: white;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 10px;
    }
  
    .producto-sub-titulo{
        text-align: center;
        border-top: 2px solid lightgray;
        border-bottom: 2px solid lightgray;
    }
    .producto-intereses{
        display: flex;
        text-align: center;
        padding-top: 40px;
        flex-wrap: wrap;
        flex-direction: column;

    }
    .producto-article-section{
        width: 50%;
        display: flex;
        border-top: 1px solid #3483fa;
        border-bottom: 1px solid #3483fa;
        margin: 10px 0px;
    }

    .producto-sub-descripcion{
        padding: 15px 15px 15px;
        background-color: white;
        text-align: left;
        width: 90%;
        margin-left: 30px;
    }
    .producto-precio-article, .producto-descuento-article, .producto-descripcion-article{
        font-size: 15px;
    }
}
    /*TABLE*/
@media (min-width: 481px) {
    .producto-banner{
        text-align: center;
    }
  .producto-main{
        padding: 20px 5px;
        width: 90%;
        flex-wrap: wrap;
        background-color: white;
        margin: 0 auto;
        border-top: 3px solid lightgray;
        justify-content: center;
    }
    .producto-div-article{
        display: flex;
        padding-bottom: 20px;
    }
    .producto-descripcion-producto{
        color: #74777e;
        font-family: Rubik,Arial,Helvetica,sans-serif;
        background-color: ghostwhite;
    }
    .producto-marca{
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        padding: 10px;
        text-align: center;
        color: #faa831;
        font-size: 11px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .producto-precio{
        margin: 20px;
        font-size: 30px;
    }
    .producto-descripcion{
        margin: 10px;
    }

    .producto-img-producto{
        width: 40%;
        margin-left: 100px;

    }
    .producto-texto{
        text-align: -webkit-left;
        padding: 15px 0px 25px 0px;
        font-size: 10px;
    }

    .producto-cantidad{
        display: block;
        font-size: 12px;
    }
    .producto-inp-cantidad{
        border-radius: 5px;
        border: 4px solid #F2F1F0;
        color: #000;
        font-size: 3px;
        font-weight: 400;
        padding: 12px;
        width: 63px;
        background-color: #fff;
    }
    .producto-button{
        width: 71%;  
        background-color: #FF6666;
        border: none;
        font-size: 17px;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 10px;
    }

    .producto-button:hover {
        background-color: #ff66665e;
    }

   
    .producto-sub-titulo{
        text-align: center;
        border-top: 4px solid lightgray;
        border-bottom: 4px solid lightgray;
        box-shadow: 0px 0px 10px rgb(100 100 100);
    }

    .producto-sub-foto {
        display: flex;
    }
    .producto-pie-de-foto{
        width: 10%;
        margin-left: 30px;
        margin-top: 70px;
        box-shadow: 0px 0px 5px black;
    }
    .producto-intereses{
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .producto-article-section{
        text-align: center;
        margin: 0px 10px;

    }
    .producto-article-section:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .producto-article-section:hover .sub-descripcion{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }

    .producto-pie-de-foto2{
        width: 50%;
        border-radius: 5px;
        width: auto;
        height: auto;
    }
    .producto-sub-descripcion{
        border-top: 1px solid #ebebeb;
        padding: 15px 15px 15px;
        background-color: white;
        text-align: left;
        position: relative;
        transition: 0.4s;
    }

}


/*Desktop*/


@media (min-width: 780px ) {


    .producto-div-article{
        display: flex;
        padding-bottom: 20px;
    }
    .producto-descripcion-producto{
        color: #74777e;
        font-family: Rubik,Arial,Helvetica,sans-serif;
        background-color: ghostwhite;
    }
    .producto-marca{
        font-size: 20px;
    }
    .producto-descripcion{
        margin: 10px;
    }
    .producto-img-producto{
        width: 40%;
        margin: 50px;
        margin-left: 200px;
    }
    .producto-sub-foto{
        width: 90%;
        margin-right: 240px;
    }
    .producto-texto{
       /* text-align: -webkit-left;*/
        padding: 15px 0px 25px 0px;
        font-size: 13px;
    }

    .producto-cantidad{
        display: block;
    }
    .producto-inp-cantidad{
        border: 1px solid #f2f1ed;
        font-size: 12px;
        width: 90px;
    }
    .producto-pie-de-foto{
        width: 10%;
        margin-left: 70px;
        margin-bottom: 70px;
    }
    .producto-article-section{
        text-align: center;
        margin: 0px 10px;
        transition: 0.4s;
    }
}

/* ESTILOS DETALLES DE PRODUCTO FIN */


/*FOOTER*/
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: rgb(100 100 100 / 1);
    }
    
    .footer > * {
    flex:  1 100%;
    }
    
    .l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
    text-align: -webkit-center;
    }
    
    h2 {
    font-weight: 400;
    font-size: 15px;
    }
    
    .footer ul {
    list-style: none;
    padding-left: 0;
    }
    
    .footer li {
    line-height: 2em;
    }
    
    .footer a {
    text-decoration: none;
    }
    
    .r-footer {
    display: flex;
    flex-flow: row wrap;
    }
    
    .r-footer > * {
    flex: 1 50%;
    margin-right: 1.25em;
    }
    
    .box a {
    color: #999;
    }
    
    .h-box {
    column-count: 2;
    column-gap: 1.25em;
    }
    
    .b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
    }
    
    .l-footer p {
    padding-right: 20%;
    color: #999;
    }   
    
    @media screen and (min-width: 600px) {
    .r-footer > * {
    flex: 1;
    }
    
    .features {
    flex-grow: 2;
    }
    
    .l-footer {
    flex: 1 0px;
    }
    
    .r-footer {
    flex: 2 0px;
    }
    }
    /*FIN DEL FOOTER*/
/* ESTILOS ELIAS*/

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-elias {
    
    text-align: center;
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    max-width: 1200px;
}

.slide1 {
    width: 100%;
    padding: 0;
}

/*Seccion Home de 4 valores*/

.home-valores{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-content: center;
    align-items: center;
}

/* .img-elias {
    width: 100px;
    height: 100px;
} */

.valores{
    max-width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: auto;
}

.valores i {
    font-size: 50px;
    color: goldenrod; /*estilo de 4 iconos de valores*/
}

.valores i:hover{ /*efecto color rojo sobre iconos home*/
    color:red;
}

.tarjeta-valores {
    width: 120px;
    font-size: 10px;
    text-align: center;
}

.nombre-valor{
    font-weight: bold;
    font-size: 12px;
    padding-top: 5px;
}

.texto-valor{
    margin:6px;
    padding: 0px 5px;
}

/*Estilo de Home Promociones*/

.home-promociones{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    flex-wrap: wrap;
    padding: 5px;
}

.promo{
    padding: 0;
    margin: 0;
    border-radius: 0.188em;
}

.promociones{
    width: 45%;
    margin: 5px;
}

.promociones:hover{
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.promociones img{
    max-width: 100%;
    max-height: 100%;
}

/*Seccion Home Lo Mas Visto*/

.titular{
    color: red;
}

.seccion-mas-visto{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    flex-wrap: nowrap;
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.producto-elias{
    position: relative;
    border-radius: 5%;
    padding-top: 5px;
}

.producto-elias:hover{
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.producto-descripcion{
    font-size: 12px;
    padding-bottom: 5px;
}

.precio-elias{
    font-weight: bold;
}

.medidas{
    font-size: 10px;
    color: gray;
}

.producto-descripcion i {
    color: red;
    position: absolute;
    right: 5px;
    top: 5px;
    
}

.producto-descripcion i:hover {
    color: gray;
}

@media screen and (min-width:769px){

.home-valores .valores{
    margin: 0;
    display: block;
}

}

/* FIN ESTILOS ELIAS*/
