<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>

    <!-- <div class="about-section">
        <h1>PROYECTO MOSAIK </h1>
        <p>GRUPO 10 - DH</p>
        <p>Nuestra visión es crear la mejor experiencia web para los clientes de nuestro local</p>
      </div> -->
      
      <h2></h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="../images/imagesPerfil/1623885037788_img.jpg" alt="Pedro" style="width:100%">
            <div class="container">
              <h2>Pedro Clementi</h2>
              <p class="title">FullStack Developer</p>
              <p>Habilidad especial: <strong>Eagle eye</strong></p>
              <p>Detecta un error a más de 30km de distancia</p>
              <p><a href="https://www.linkedin.com/in/pedro-nicolas-clementi/" class="text-us"><button class="button"> Contacto</button></a></p>
            </div>
          </div>
        </div>

        
      
        <div class="column">
          <div class="card">
            <img src="../images/imagesPerfil/1623885642557_img.jpg" alt="Luis" style="width:100%">
            <div class="container">
              <h2>Luis Crescente</h2>
              <p class="title">FullStack Developer</p>
              <p>Habilidad especial: <strong>Magnetic personality</strong> </p>
              <p>Crea relaciones estratégicas para resolver lo imposible</p>
              <p><a href="https://www.linkedin.com/in/lcrescente/" class="text-us"><button class="button"> Contacto</button></a></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../images/imagesPerfil/1624741357437_img.jpg" alt="Carlos" style="width:100%">
            <div class="container">
              <h2>Carlos Salvucci</h2>
              <p class="title">FullStack Developer</p>
              <p>Habilidad especial: <strong>Last minute hero</strong> </p>
              <p>Llega cuando todo está perdido y salva el día</p>
              <p><a href="https://www.linkedin.com/in/salvuccicarlos/" class="text-us"><button class="button"> Contacto</button></a></p>
            </div>
          </div>
        </div>
        <div class="column">
            <div class="card">
              <img src="../images/imagesPerfil/1623885642558_img.jpg" alt="Nahuel" style="width:100%">
              <div class="container">
                <h2>Nahuel González</h2>
                <p class="title">FullStack Developer</p>
                <p>Habilidad especial: <strong>Style hammer</strong> </p>
                <p>Si algo se ve bien, ¡seguro se puede ver mejor!</p>
                <p><a href="https://www.linkedin.com/in/nahuel-gonzalez-hughetti/" class="text-us"><button class="button"> Contacto</button></a></p>
              </div>
            </div>
          </div>
      </div>


    <%- include('./partials/footer'); %>


</body>
</html>