<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>


    <h1>Crear Usuario</h1>
    <form action="/test" method="POST">
        
        <div>
            <label >Nombre</label>
            <input type="text" name="name">
        </div>
         <div>
            <label >Email</label>
            <input type="email" name="email">
        </div> 
        <div>
            <label >Direccion</label>
            <input type="text" name="address">
        </div>
        <div>
            <label >Telefono</label>
            <input type="number" name="phone">
        </div> 
        <div>
            <label >Contraseña </label>
            <input type="text" name="password">
        </div> 
        <div>
            <label >Imagen</label>
            <input type="text" name="file">
        </div> 
        <div>
            <label >Rol</label>
            <input type="number" name="roles_id">
        </div> 

        <button type="submit">Crear!</button>
    
    </form>

    <%- include('./partials/footer'); %>
</body>
</html>

