<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>


    <h1>Crear Usuario</h1>
    <form action="/test" method="POST">
        
        <div>
            <label >Nombre</label>
            <input type="text" name="order_id">
        </div>
         <div>
            <label for="">precio</label>
            <input type="number" name="price">
        </div> 
        <div>
            <label for="">descripcion</label>
            <input type="text" name="description">
        </div>
        <div>
            <label for="">imagen</label>
            <input type="text" name="image">
        </div> 
        <div>
            <label for="">stock </label>
            <input type="number" name="stock">
        </div> 
        <div>
            <label for="">brand</label>
            <input type="text" name="brand">
        </div> 
        <div>
            <label for="">categoria</label>
            <input type="number" name="category_id">
        </div> 
        <div>
            <label for="">tamaño</label>
            <input type="number" name="size_id">
        </div> 
         
        
      

        <button type="submit">Crear!</button>
    
    </form>

    <%- include('./partials/footer'); %>
</body>
</html>

