<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>
    <main class="producto-main">
        <div class = 'producto-banner'>
            <img src="/images/banner3.jpg" alt="imagen-banner" >
        </div>
        <article class=producto-main-art>
            <div class="producto-div-article">
            <div class="producto-div-mobile">
                <img src="/images/imagen-1.jpg" alt="Foto-del-producto" class="producto-img-producto">
                <div class="producto-sub-foto">
                    <img src="/images/imagen-1.jpg" alt="Foto-del-producto" class="producto-pie-de-foto"> 
                    <img src="/images/imagen-1.jpg" alt="Foto-del-producto" class="producto-pie-de-foto"> 
                    <img src="/images/imagen-1.jpg" alt="Foto-del-producto" class="producto-pie-de-foto"> 
                    <img src="/images/imagen-1.jpg" alt="Foto-del-producto" class="producto-pie-de-foto">
                </div>
            </div>
                <div class="producto-descripcion-producto" >
                    <h3 class="producto-marca">ATELIER SIENA</h3>
                    <p class="producto-precio">$99999</p>
                    <h1 class="producto-descripcion">Descripcion</h1>
                    <p class="producto-texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid accusantium maiores expedita odit, saepe impedit adipisci beatae eveniet libero excepturi quos eius iure provident repellendus voluptatum veritatis corporis, id iste?</p>
                    
                    <label for="" class="producto-cantidad">Cantidad: <input class="producto-inp-cantidad" type="number" > </label>
                    <button class="producto-button">Agregar al carrito</button>
                </div>
            </div>
           
        </article>
        <section>
            <h1 class="producto-sub-titulo">Quizas te pueda interesar</h1>
            <div class="producto-intereses">
                <article class="producto-article-section">
                    <img src="/images/imagen-2.jpg" alt="foto-interesantes" class="producto-pie-de-foto2">
              
                  <div class ="producto-sub-descripcion">  
                        <p class="producto-precio-article">$6.770</p>
                        <p class="producto-descuento-article">40% OFF</p>
                        <p class="producto-descripcion-article"> POSITANO BRILLANTE</p>
                </div>
                </article>

                <article class="producto-article-section">
                    <img src="/images/imagen-3.jpg" alt="foto-interesantes" class="producto-pie-de-foto2">
                  <div class ="producto-sub-descripcion">  
                        <p class="producto-precio-article">$6.770</p>
                        <p class="producto-descuento-article">40% OFF</p>
                        <p class="producto-descripcion-article"> ATELIER ARENA</p>
                </div>
                </article>

                <article class="producto-article-section">
                    <img src="/images/imagen-4.jpg" alt="foto-interesantes" class="producto-pie-de-foto2">
                    
                  <div class ="producto-sub-descripcion">  
                        <p class="producto-precio-article">$6.770</p>
                        <p class="producto-descuento-article">40% OFF</p>
                        <p class="producto-descripcion-article">FORTEZZE ARENA</p>
                </div>
                </article>

            </div>

        </section>

    </main>

    <%- include('./partials/footer'); %>
</body>
</html>