<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./partials/head404'); %>

</head>
<body class="body1">
   
    <div id="main">
        <div id="msg">Ups! Pagina no encontrada.</div>
        <div id="error">
            <div id="f1">4</div>
            <div id="circle">
                <div id="smalldot"></div>
            </div>
            <div id="f2">4</div>
        </div>
        
        <div id="info">Ningún resultado corresponde a tu búsqueda. <br>¡Así va a ser difícil llevarte a buen puerto!.</div>
        
       <a href="/"> <div id="btn">Volver a  tierra</div></a>
    </div>  
    
    <div id="ring"></div>
    
    <div class="dusk" id="d1"></div>
    <div class="dusk" id="d2"></div>
    <div class="dusk" id="d3"></div>
    <div class="dusk" id="d4"></div>
    <div class="dusk" id="d5"></div>
    <div class="dusk" id="d6"></div>
    <div class="dusk" id="d7"></div>
    <div class="dusk" id="d8"></div>
    <div class="dusk" id="d9"></div>


</body>

</html>