<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./partials/head404'); %>

</head>
<body class="body1">
   
    <div id="main">
        <div id="msg">Ups! Pagina no encontrada.</div>
        <div id="error">
            <div id="f1">4</div>
            <div id="circle"> <!-- animacion de la luna  y capa para la imagen de fondo-->
               <div id="smalldot"></div>  <!-- luna  -->
            </div>
            <div id="f2">4</div>
        </div>
        
        <div id="info">Ningún resultado corresponde a tu búsqueda. <br>¡Así va a ser difícil llevarte a buen puerto!.</div>
        
       <a href="/"> <div id="btn">Volver a  tierra</div></a> <!--BOTON PARA VOLVER AL MENU -->
    </div>  
    
    <div id="ring"></div>
    
    <div class="dusk" id="d1"></div>    <!-- son las estrellas en la pagina -->
    <div class="dusk" id="d2"></div>    <!-- son las estrellas en la pagina -->
    <div class="dusk" id="d3"></div>    <!-- son las estrellas en la pagina -->
    <div class="dusk" id="d4"></div>    <!-- son las estrellas en la pagina -->
    <div class="dusk" id="d5"></div>    <!-- son las estrellas en la pagina -->
    <div class="dusk" id="d6"></div>    <!-- son las estrellas en la pagina -->
    <div class="dusk" id="d7"></div>    <!-- son las estrellas en la pagina -->
    <div class="dusk" id="d8"></div>    <!-- son las estrellas en la pagina -->
    <div class="dusk" id="d9"></div>    <!-- son las estrellas en la pagina -->


</body>

</html>