<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>

    <!--Main-Banner Slider-->

    <div class="main-banner">

      <%- include('./partials/carrousel'); %> 

    </div> 
    
      <h2 class="titular">Destacados</h2>

        <main class="main-elias">
        <!--4 Promociones en Home-->        

        <section class="home-promociones">

          <div class="promociones">
            <a href="/product/detail">
              <img class="promo" src="/images/compact city.jpeg">
            </a>
          </div>
          <div class="promociones">
            <a href="/product/detail">
              <img class="promo" src="/images/augustus terra.jpeg">
            </a>
          </div>

          <!-- <div class="promociones">
            <a href="/">
              <img class="promo" src="/images/promo6.jpg">
            </a>
          </div> -->


        </section>
      </main>

      <h2 class="titular">Nuestras sucursales</h2>

        <main class="main-elias-mas-visto">

        <!--Seccion Lo Mas Visto-->

        <section class="seccion-mas-visto">
          
          <article class="producto-elias">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.4403287009964!2d-58.39168854908836!3d-34.61831130793979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccadf07b9483d%3A0x15edf867b2e0efd0!2sAv.%20Entre%20R%C3%ADos%20802%2C%20C1080ABP%20CABA!5e0!3m2!1ses!2sar!4v1630359831188!5m2!1ses!2sar" 
            
            width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <!-- <img src='./images/pavimenti roccia.jpeg' class="img";>-->
            <p class="nombre-producto">Local 1</p>
            <p class="precio-elias">Contacto 0810-333-123 </p>
            <!-- <div class="producto-descripcion">
                <i class="fas fa-tags"></i>
                <p class="medidas">Consultar stock</p>
  
            </div>  -->
          </article> <article class="producto-elias">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d821.0291980016993!2d-58.51885749243089!3d-34.60120809532536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb77a562dcd87%3A0x7882eb67703b848!2sHabana%20y%20Segurola!5e0!3m2!1ses!2sar!4v1630359925708!5m2!1ses!2sar" 
            
            
            width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <!-- <img src='./images/pavimenti roccia.jpeg' class="img";>-->
            <p class="nombre-producto">Local 2</p>
            <p class="precio-elias">Contacto 0810-333-123 </p>
            <!-- <div class="producto-descripcion">
                <i class="fas fa-tags"></i>
                <p class="medidas">Consultar stock</p>
  
            </div>  -->
          </article>

        <article class="producto-elias">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3334.565626022079!2d-66.33563417812526!3d-33.30402517753866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d43955bf093c23%3A0xb89e8b69f92c5565!2sBelgrano%20901%2C%20D5700GJA%20San%20Luis!5e0!3m2!1ses!2sar!4v1630359495492!5m2!1ses!2sar" 
          
          width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          <!-- <img src='./images/pavimenti roccia.jpeg' class="img";>-->
          <p class="nombre-producto">Local 3</p>
          <p class="precio-elias">Contacto 0810-333-123 </p>
          <!-- <div class="producto-descripcion">
              <i class="fas fa-tags"></i>
              <p class="medidas">Consultar stock</p>

          </div>  -->
        </article>
      </section>

    </main>

    <%- include('./partials/footer'); %>

    <script src="/js/script.js"></script>
</body>
</html>