<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>

    <main class="main-elias">
        
        <!--Main-Banner Slider-->
        
        <div class="main-banner">
          <a href="#">  
            <img class="slide1" src="./images/promo3.jpeg">
          </a>
        </div>

        <!--4 Valores Destacados horizontal-->

        <section class="home-valores">
        
          <article class="valores">
              <i class="fas fa-award"></i>
              <div class="tarjeta-valores">
                  <p class="nombre-valor">Calidad</p>
                  <p class="texto-valor">Los mejores materiales e insumos</p>

              </div>
          </article>

          <article class="valores">
            <i class="fas fa-concierge-bell"></i>
              <div class="tarjeta-valores">
                <p class="nombre-valor">Servicio</p>
                <p class="texto-valor">24/7 disponible para su obra</p>
              </div>
          </article>

          <article class="valores">
            <i class="fas fa-hands-helping"></i>
            <div class="tarjeta-valores">
              <p class="nombre-valor">Asoramiento</p>
              <p class="texto-valor">Nuestros expertos est치n para ayudarlo</p>
            </div>
          </article>

          <article class="valores">
            <i class="fas fa-tools"></i>
            <div class="tarjeta-valores">
              <p class="nombre-valor">Instalaci칩n</p>
              <p class="texto-valor">Colocados llave en mano.</p>
            </div>
          </article>
        </section>
        
        <!--4 Promociones en Home-->

        <section class="home-promociones">

          <div class="promociones">
            <a href="/">
              <img class="promo" src="/images/compact city.jpeg">
            </a>
          </div>
          <div class="promociones">
            <a href="/">
              <img class="promo" src="/images/augustus terra.jpeg">
            </a>
          </div>
          <div class="promociones">
            <a href="/">
              <img class="promo" src="/images/promo6.jpg">
            </a>
          </div>
          <!-- <div class="promociones">
            <a href="/">
              <img class="promo" src="/images/Especial-calefaccio패n.jpeg">
            </a>
          </div> -->

        </section>

        <!--Seccion Lo Mas Visto-->

        <h2 class="titular">Lo m치s Visto</h2>

        <section class="seccion-mas-visto">
          
            <article class="producto-elias">
                <img src='./images/pavimenti zirconio.jpeg' class="img";>
                <div class="producto-descripcion">
                    <i class="fas fa-tags"></i>
                    <p class="precio-elias">$49.999</p>
                    <p class="medidas">40 cm x 180 cm</p>
                    <p class="nombre-producto">Pavimenti Zirconio</p>
                </div>
            </article>
            <!-- <article class="producto-elias">
              <img src='./images/mesada_johnson.jpg' class="img";>
              <div class="producto-descripcion">
                  <i class="fas fa-tags"></i>
                  <p class="precio-elias">$49.999</p>
                  <p class="medidas">40 cm x 180 cm</p>
                  <p class="nombre-producto">Mesada Johnson</p>
              </div>
          </article> -->
          <article class="producto-elias">
            <img src='./images/parquet cerezo.jpeg' class="img";>
            <div class="producto-descripcion">
                <i class="fas fa-tags"></i>
                <p class="precio-elias">$49.999</p>
                <p class="medidas">40 cm x 180 cm</p>
                <p class="nombre-producto">Parquet Cerezo</p>
            </div>
        </article>
        <article class="producto-elias">
          <img src='./images/pavimenti roccia.jpeg' class="img";>
          <div class="producto-descripcion">
              <i class="fas fa-tags"></i>
              <p class="precio-elias">$49.999</p>
              <p class="medidas">40 cm x 180 cm</p>
              <p class="nombre-producto">Pavimenti Roccia</p>
          </div>
      </article>
        </section>

    </main>

    <%- include('./partials/footer'); %>
</body>
</html>