<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>

    <!--Main-Banner Slider-->

    <div class="main-banner">
      <a href="/products">  
        <img class="slide1" src="./images/promo3.jpeg">
      </a>
    </div>

    <!--4 Valores Destacados horizontal-->

    <!-- <main class="main-elias">     

        <section class="home-valores">

          <div class="dos-valores">
        
          <article class="valores">
              <i class="fas fa-award"></i>
              <div class="tarjeta-valores">
                  <p class="nombre-valor">Calidad</p>
                  <p class="texto-valor">Los mejores materiales</p>

              </div>
          </article>

          <article class="valores">
            <i class="fas fa-concierge-bell"></i>
              <div class="tarjeta-valores">
                <p class="nombre-valor">Servicio</p>
                <p class="texto-valor">24/7 disponible para tu obra</p>
              </div>
          </article>

          </div>

          <div class="dos-valores">

          <article class="valores">
            <i class="fas fa-hands-helping"></i>
            <div class="tarjeta-valores">
              <p class="nombre-valor">Asesoramiento</p>
              <p class="texto-valor">Estamos para ayudarte</p>
            </div>
          </article>

          <article class="valores">
            <i class="fas fa-tools"></i>
            <div class="tarjeta-valores">
              <p class="nombre-valor">Seguridad</p>
              <p class="texto-valor">Satisfacción garantizada</p>
            </div>
          </article>

        </div>

        </section>
      </main> -->
      
      <h2 class="titular">Destacados</h2>

        <main class="main-elias">
        <!--4 Promociones en Home-->        

        <section class="home-promociones">

          <div class="promociones">
            <a href="/products">
              <img class="promo" src="/images/compact city.jpeg">
            </a>
          </div>
          <div class="promociones">
            <a href="/products">
              <img class="promo" src="/images/augustus terra.jpeg">
            </a>
          </div>

          <!-- <div class="promociones">
            <a href="/">
              <img class="promo" src="/images/promo6.jpg">
            </a>
          </div> -->


        </section>
      </main>

      <h2 class="titular">Lo más visto</h2>

        <main class="main-elias-mas-visto">

        <!--Seccion Lo Mas Visto-->

        <section class="seccion-mas-visto">
          
            <article class="producto-elias">
                <img src='./images/pavimenti zirconio.jpeg' class="img";>
                <p class="nombre-producto">Pavimenti Zirconio</p>
                <p class="precio-elias">$4999</p>
                <div class="producto-descripcion">
                    <i class="fas fa-tags"></i>                    
                    <p class="medidas">Consultar stock</p>
                </div>
          </article>

          <article class="producto-elias">
            <img src='./images/parquet cerezo.jpeg' class="img";>
            <p class="nombre-producto">Parquet Cerezo</p>
            <p class="precio-elias">$4999</p>
            <div class="producto-descripcion">
                <i class="fas fa-tags"></i>
                <p class="medidas">Consultar stock</p>

            </div>
        </article>

        <article class="producto-elias">
          <img src='./images/pavimenti roccia.jpeg' class="img";>
          <p class="nombre-producto">Pavimenti Roccia</p>
          <p class="precio-elias">$4999</p>
          <div class="producto-descripcion">
              <i class="fas fa-tags"></i>
              <p class="medidas">Consultar stock</p>

          </div>
        </article>
      </section>

    </main>

    <%- include('./partials/footer'); %>
</body>
</html>