<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>

    <!--Main-Banner Slider-->

    <div class="main-banner">

      <%- include('./partials/carrousel'); %> 

    </div> 
         
      <h2 class="titular">Destacados</h2>

        <main class="main-elias">
        <!--4 Promociones en Home-->        

        <section class="home-promociones">

          <div class="promociones">
            <a href="/product">
              <img class="promo" src="/images/compact city.jpeg">
            </a>
          </div>
          <div class="promociones">
            <a href="/product">
              <img class="promo" src="/images/augustus terra.jpeg">
            </a>
          </div>

          <!-- <div class="promociones">
            <a href="/">
              <img class="promo" src="/images/promo6.jpg">
            </a>
          </div> -->


        </section>
      </main>

      <h2 class="titular">Lo más visto</h2>

        <main class="main-elias-mas-visto">

        <!--Seccion Lo Mas Visto-->

        <section class="seccion-mas-visto">
          
            <article class="producto-elias">
                <img src='./images/pavimenti zirconio.jpeg' class="img";>
                <p class="nombre-producto">Pavimenti Zirconio</p>
                <p class="precio-elias">$4999</p>
                <div class="producto-descripcion">
                    <i class="fas fa-tags"></i>                    
                    <p class="medidas">Consultar stock</p>
                </div>
          </article>

          <article class="producto-elias">
            <img src='./images/parquet cerezo.jpeg' class="img";>
            <p class="nombre-producto">Parquet Cerezo</p>
            <p class="precio-elias">$4999</p>
            <div class="producto-descripcion">
                <i class="fas fa-tags"></i>
                <p class="medidas">Consultar stock</p>

            </div>
        </article>

        <article class="producto-elias">
          <img src='./images/pavimenti roccia.jpeg' class="img";>
          <p class="nombre-producto">Pavimenti Roccia</p>
          <p class="precio-elias">$4999</p>
          <div class="producto-descripcion">
              <i class="fas fa-tags"></i>
              <p class="medidas">Consultar stock</p>

          </div>
        </article>
      </section>

    </main>

    <%- include('./partials/footer'); %>

    <script src="/js/script.js"></script>
</body>
</html>