<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>

    <main class="main-elias">
        
        <!--Main-Banner Slider-->
        
        <div class="main-banner">
          <a href="#">  
            <img class="slide1" src="./images/promo3.jpeg">
          </a>
        </div>

        <!--Seccion Griferias-->

        <h2 class="titular"> <%= categoria.category%> HOLA</h2>

        <section class="seccion-mas-visto">
          
            <article class="producto-elias">
                <img src='./images/pavimenti zirconio.jpeg' class="img";>
                <div class="producto-descripcion">
                    <i class="fas fa-tags"></i>
                    <p class="precio-elias">$49.999</p>
                    <p class="medidas">40 cm x 180 cm</p>
                    <p class="nombre-producto">Pavimenti Zirconio</p>
                </div>
            </article>
           
          <article class="producto-elias">
            <img src='./images/parquet cerezo.jpeg' class="img";>
            <div class="producto-descripcion">
                <i class="fas fa-tags"></i>
                <p class="precio-elias">$49.999</p>
                <p class="medidas">40 cm x 180 cm</p>
                <p class="nombre-producto">Parquet Cerezo</p>
            </div>
        </article>
        <article class="producto-elias">
          <img src='./images/pavimenti roccia.jpeg' class="img";>
          <div class="producto-descripcion">
              <i class="fas fa-tags"></i>
              <p class="precio-elias">$49.999</p>
              <p class="medidas">40 cm x 180 cm</p>
              <p class="nombre-producto">Pavimenti Roccia</p>
          </div>
      </article>
        </section>

         <!--Seccion Sanitarios-->

<!--          <h2 class="titular"> Sanitarios</h2>

         <section class="seccion-mas-visto">
           
             <article class="producto-elias">
                 <img src='./images/pavimenti zirconio.jpeg' class="img";>
                 <div class="producto-descripcion">
                     <i class="fas fa-tags"></i>
                     <p class="precio-elias">$49.999</p>
                     <p class="medidas">40 cm x 180 cm</p>
                     <p class="nombre-producto">Pavimenti Zirconio</p>
                 </div>
             </article>
            
           <article class="producto-elias">
             <img src='./images/parquet cerezo.jpeg' class="img";>
             <div class="producto-descripcion">
                 <i class="fas fa-tags"></i>
                 <p class="precio-elias">$49.999</p>
                 <p class="medidas">40 cm x 180 cm</p>
                 <p class="nombre-producto">Parquet Cerezo</p>
             </div>
         </article>
         <article class="producto-elias">
           <img src='./images/pavimenti roccia.jpeg' class="img";>
           <div class="producto-descripcion">
               <i class="fas fa-tags"></i>
               <p class="precio-elias">$49.999</p>
               <p class="medidas">40 cm x 180 cm</p>
               <p class="nombre-producto">Pavimenti Roccia</p>
           </div>
        </article>
        </section> -->

          <!--Seccion Pisos-->

        <!-- <h2 class="titular"> Pisos</h2>

        <section class="seccion-mas-visto">
          
            <article class="producto-elias">
                <img src='./images/pavimenti zirconio.jpeg' class="img";>
                <div class="producto-descripcion">
                    <i class="fas fa-tags"></i>
                    <p class="precio-elias">$49.999</p>
                    <p class="medidas">40 cm x 180 cm</p>
                    <p class="nombre-producto">Pavimenti Zirconio</p>
                </div>
            </article>
           
          <article class="producto-elias">
            <img src='./images/parquet cerezo.jpeg' class="img";>
            <div class="producto-descripcion">
                <i class="fas fa-tags"></i>
                <p class="precio-elias">$49.999</p>
                <p class="medidas">40 cm x 180 cm</p>
                <p class="nombre-producto">Parquet Cerezo</p>
            </div>
        </article>
        <article class="producto-elias">
          <img src='./images/pavimenti roccia.jpeg' class="img";>
          <div class="producto-descripcion">
              <i class="fas fa-tags"></i>
              <p class="precio-elias">$49.999</p>
              <p class="medidas">40 cm x 180 cm</p>
              <p class="nombre-producto">Pavimenti Roccia</p>
          </div>
      </article>
        </section> -->

    </main>

    <%- include('./partials/footer'); %>
</body>
</html>