<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./partials/head'); %>

</head>

<body>

    <%- include('./partials/header'); %>
    

   <p>LJUIS</p>

    <%- include('./partials/footer'); %>
</body>
</html>