<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./partials/head'); %>

</head>

<body>

    <%- include('./partials/header'); %>
    

    <div class="main-profile">

                      
        <h2 class="titular4">¡Te damos la bienvenida nuevamente!</h2>

        <div class="cont-profile">

            <article class="modify-profile">

                <ul class="option-list">

                    <li class="selection-list"><i class="fas fa-user-cog"></i>Cambiá tus datos personales</li>
                    <li class="selection-list"><i class="fas fa-money-check-alt"></i>Cambiá tus datos de pago</li>
                    <li class="selection-list"><i class="fas fa-map-marked-alt"></i>Cambiá tus dirección</li>
                    <li class="selection-list"><i class="fas fa-history"></i>Historial de compras</li>
                    <li class="selection-list"><i class="fas fa-hand-holding-usd"></i>Promos</li>

                </ul>
            </article>

            <div class="icon-menu">
                <i class="fas fa-bars"></i>
            </div>

            <article class="show-profile">
                <h3 class="titular3">Perfil</h3>
                <form action="/user/profile" method="GET" class="profile-form" enctype="multipart/form-data">
                    
                    <div class="caja-extra-form-edit">

                    
                    <div class="profile-form-control">
                        <label class="label-title-profile">Nombre y Apellido:</label>
                        <input type="text" name="name" placeholder="" class="control-profile" required>
                    </div>

                    <div class="profile-form-control">
                        <label class="label-title-profile"">Dirección:</label>                        
                        <input type="text" name="address" placeholder="" class="control-profile" required>
                    </div>

                    <div class="profile-form-control">
                        <label class="label-title-profile">Celular: </label>
                        <input type="number" name="number" placeholder="" class="control-profile" required>
                    </div>

                    <div class="profile-form-control">
                        <label class="label-title-profile">Datos de pago: </label>
                        <input type="text" name="payment" placeholder="" class="control-profile" required>
                    </div>

                    <div class="profile-form-control">
                        <label class="label-title-profile">E-mail: </label>
                        <input type="email" name="email" placeholder="" class="control-profile" required>
                    </div>

                    <div class="profile-form-control">
                        <label for="imagen">Avatar: </label>
                        <input type="file" name="avatar" class="control-profile" required>
                    </div>

                    </div>

                </form>
            </article>

            </div>

        </div>

    <%- include('./partials/footer'); %>
</body>
</html>