<div class="callout">
    <div class="callout-header">¿Te gusta lo que ves?</div>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
    <div class="callout-container">
        <p><a href="/user/login" class='callout-link'>Ingresá a tu cuenta</a> o <a href="/user/register" class='callout-link'>registrate</a> para agregarlo al carrito</p>
    </div>
</div>