<footer class="footer">
    <div class="l-footer">
    <h1>
        <a href="/" class="logo-link">
            <img src="/images/mosaik-noblank.png" alt="" class="mosaik-logo1">
          </a>
            <a href="/" class="logo-link">
              <img src="/images/mosaik logo nuevo2.jpg" class="mosaik-logo2" alt="">
            </a> 
    </h1>
    </div>
    <ul class="r-footer">
    <li>
      <h2>
    Mapa del sitio</h2>
      <ul class="box">
        <li><a href="#">Grifería</a></li>
        <li><a href="#">Sanitarios</a></li>
        <li><a href="/products">Pisos</a></li>
      </ul>
    </li>
    <li class="features">
      <h2>
    Servicios al cliente</h2>
      <ul class="box h-box">
        <li><a href="#">Sucursales</a></li>
        <li><a href="#">Horarios de Atención</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </li>
    <!-- <li>
      <h2>Quiénes somos</h2>
      <ul class="box">
        <li><a href="#">Sostenibilidad</a></li>
        <li><a href="#">Venta Empresas</a></li>
        <li><a href="#">Rendición de cuentas</a></li>
        <li><a href="#">Canal de Integridad</a></li>
        <li><a href="#">Código de ética</a></li>
      </ul>
    </li> -->
    </ul>
    <div class="b-footer">
    <p>
    Todos los derechos reservados ©Grupo 10 DH 2021 </p>
    </div>
    </footer>
    