<footer class="footer">
  <div class="l-footer">
    <h1>
        <a href="/" class="logo-link">
            <img src="/images/mosaik-noblank.png" alt="" class="mosaik-logo1">
          </a>
            <a href="/" class="logo-link">
              <img src="/images/mosaik logo nuevo2.jpg" class="mosaik-logo2" alt="">
            </a> 
    </h1>
    </div>
    <ul class="r-footer">
    <li>
      <h2>
    Mapa del sitio</h2>
      <ul class="box">
        <li><a href="/products?categoria=griferias"><i class="fas fa-sink"></i>Griferías</a></li>
        <li><a href="/products?categoria=sanitarios"><i class="fas fa-toilet"></i>Sanitarios</a></li>
        <li><a href="/products?categoria=pisos"><i class="fas fa-th"></i>Pisos</a></li>
      </ul>
    </li>
    <li class="features">
      <h2>
    Servicios al cliente</h2>
      <ul class="box h-box">
        
        <li><a href="/users/login"><i class="fas fa-user-lock"></i>Iniciar sesión</a></li>
        
      </ul>
    </li>
    <!-- <li>
      <h2>Quiénes somos</h2>
      <ul class="box">
        <li><a href="#">Sostenibilidad</a></li>
        <li><a href="#">Venta Empresas</a></li>
        <li><a href="#">Rendición de cuentas</a></li>
        <li><a href="#">Canal de Integridad</a></li>
        <li><a href="#">Código de ética</a></li>
      </ul>
    </li> -->
    </ul>
    <div class="b-footer">
    <p>
    Todos los derechos reservados ©Grupo 10 DH 2021 </p>
  </div>
</footer>
    