<header class="main-header">
  <div class="container">
    
      <a href="/" class="logo-link">
        <img src="/images/mosaik-noblank.png" alt="" class="mosaik-logo1">
      </a>
        <a href="/" class="logo-link">
          <img src="/images/mosaik logo nuevo2.jpg" class="mosaik-logo2" alt="">
        </a> 
        
        <div class="form_search" action= "/buscar" method= "GET">
          <input type="text" name="busqueda" placeholder="Buscar productos, marcas" class="busqueda"> 
          <button class="lupa"><i class="fas fa-search"></i></button>
        </div>
        
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li>
          <div class="dropdown">
            <button class="dropbtn">Productos <i class="fas fa-sort-down"></i></button>
            <div class="dropdown-content">
              <a href="#">Griferias</a>
              <a href="#">Sanitarios</a>
              <a href="detalle-de-producto">Pisos</a>
            </div>
          </div>
      </li>
      <li>
        <a href="./register">Registrarse</a>
      </li>
        <li>
          <a href="./login">Ingresá</a>
        </li>
        <li>
          <a href="./carrito"><i class="fas fa-shopping-cart"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
