<header class="main-header">
  <div class="container-header-login">
    <div class="container-recuadro-login">
      <div class="container-header-superior-login">
        <div class="container-logos">
          <a href="/" class="logo-link">
          <img src="/images/mosaik-noblank.png" alt="" class="mosaik-logo1">
          </a>
          <a href="/" class="logo-link">
            <img src="/images/mosaik logo nuevo2.jpg" class="mosaik-logo2" alt="">
          </a>  
        </div>    
    <nav class="main-nav-login">
      <ul class="main-nav-list">
        <li>
          <a href="#"> <i class="fas fa-user"></i></a>
        </li>
      </ul>
    </nav>
    </div>
    </div>
  </div>
</header>
