<header class="main-header">
  <div class="container-header">

    <div class="container-header-superior">
        <a href="/" class="logo-link">
          <img src="/images/mosaik-noblank.png" alt="" class="mosaik-logo1">
        </a>
          <a href="/" class="logo-link">
            <img src="/images/mosaik logo nuevo2.jpg" class="mosaik-logo2" alt="">
          </a> 
          
          <form class="form_search" action= "/search" method= "GET">
            <input type="text" name="search" placeholder="Buscar productos, marcas" class="busqueda"> 
            <button class="lupa"><i class="fas fa-search"></i></button>
          </form>
          
          <div class="avatar-inicio">
            <a href="/user/profile"> <i class="fas fa-user"></i></a>
          </div>
      </div>

    <nav class="main-nav">
      <ul class="main-nav-list">
        <li>
          <div class="dropdown">
            <button class="dropbtn"><a href="/products" >Productos <i class="fas fa-sort-down"></i></a></button>
            <div class="dropdown-content">
              <a href="/products?categoria=griferias">Griferias</a>
              <a href="/products?categoria=sanitarios">Sanitarios</a>
              <a href="/products?categoria=pisos">Pisos</a>
            </div>
          </div>
        </li>
        <li>
          <a href="/user/register">Registrarse</a>
        </li>
        <li>
          <a href="/user/login">Ingresá</a>
        </li>
        <li>
          <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
        </li>


      </ul>
    </nav>
  </div>
</header>
