<div class="avatar-inicio">
    <div class="avatar-centrado">

        <ul class="main-nav-list">

            <li>
                <div class="dropdown">
                    <% if (locals.isLogged) { %>
                    <button class="dropbtn">
                        <div class="cuadrito-login">
                            <p>¡HOLA <%= locals.userLogged.name %>!</p>
                            <p>&nbsp;</p>
                            <div class="avatar">
                                <img src="/images/imagesPerfil/<%= locals.userLogged.file %>" alt="avatar" width="20%"
                                    class="avatar-img"> <i class="fas fa-sort-down"></i>
                            </div>

                        </div>
                    </button>

                    <div class="dropdown-content">
                        <a href="/users/detail">Perfil</a>
                        <a href="/users/logout">Salir</a>
                        <!--Work in Progress - Login con Google-->
                        <!--<a href="#" onclick="signOut();">Sign out</a>
                        <script>
                            function signOut() {
                                var auth2 = gapi.auth2.getAuthInstance();
                                auth2.signOut().then(function () {
                                    console.log('User signed out.');
                                });
                            }
                        </script>
                        
                        <script>
                            function init() {
                                gapi.load('auth2', function () {
                                    client_id: '308419063154-g22rivjq0t02pm7ktk2hfae66947pvkn.apps.googleusercontent.com'
                                });
                                console.log('Corrio');
                            }
                        </script>-->

                    </div>
                </div>
            </li>

            <% } else { %>
            <li> |</li>
            <li><a href="/users/register"> Registrate  </a></li>
            <li> |</li>
            <li><a href="/users/login"> Ingresá  </a></li>
            <li> |</li>
            <% } %>

        </ul>
    </div>
</div>