<div class="avatar-inicio">
    <div class="avatar-centrado">
      
        <ul class="main-nav-list">

            <li>
                <div class="dropdown">
                    <% if (locals.isLogged) { %>
                    <button class="dropbtn"><img src="/images/imagesPerfil/<%= locals.userLogged.file %>" alt="avatar" width="20%" > <i class="fas fa-sort-down"></i></button>
                    <div class="dropdown-content">
                    <a href="/user/profile">Perfil</a>
                    <a href="/user/logout">Salir</a>
                    </div>
                </div>
                <% } else { %>
            </li>
            <li> |</li>
            <li><a href="/user/register">Registrate  </a></li>
            <li> |</li>
            <li><a href="/user/login">Ingresá  </a></li>
            <li> |</li>
            <li>
                <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
            </li>
            <% } %>
    </ul>
    </div>
  </div>