<div class="avatar-inicio">
    <div class="avatar-centrado">
      
        <ul class="main-nav-list">

            <li>
                <div class="dropdown">
                    <% if (locals.isLogged) { %>
                    <button class="dropbtn">
                        <div class="cuadrito-login">
                            <p>¡HOLA <%= locals.userLogged.name %>!</p>
                            <p>&nbsp;</p>
                            <div class="avatar">
                                <img src="/images/imagesPerfil/<%= locals.userLogged.file %>" alt="avatar" width="20%" class="avatar-img" > <i class="fas fa-sort-down"></i>
                            </div>
                            
                        </div>
                    </button>

                    <div class="dropdown-content">
                    <a href="/user/profile">Perfil</a>
                    <a href="/user/logout">Salir</a>
                    </div>
                </div>
            </li>

            <% } else { %>
            <li> |</li>
            <li><a href="/user/register"> Registrate  </a></li>
            <li> |</li>
            <li><a href="/user/login"> Ingresá  </a></li>
            <li> |</li>
            <% } %>

        </ul>
    </div>
  </div>