<div class="avatar-inicio">
    <div class="avatar-centrado">
      
        <ul class="main-nav-list">

            <li>
                <div class="dropdown">
                    <button class="dropbtn"><i class="fas fa-user"></i> <i class="fas fa-sort-down"></i></button>
                    <div class="dropdown-content">
                    <a href="/user/profile">Perfil</a>
                    <a href="/user/logout">Salir</a>
                    </div>
                </div>
            </li>
            <li> |</li>
            <li><a href="/user/register">Registrate  </a></li>
            <li> |</li>
            <li><a href="/user/login">Ingresá  </a></li>
            <li> |</li>
            <li>
                <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
            </li>
      
    </ul>
    </div>
  </div>